*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:azure;
}

.body{
    min-height: 100vh;
    background-color:#3f7145d8;  
}

.toggle-menu{
    display:flex;
    justify-content:space-around;
    font-size:20px;
    padding:15px;
}

.content-container{
    display:flex;
    justify-content:space-around;
    padding:10px;
}

.text-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.head-container{
    padding:30px;
}

.page-heading{
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size:60px;
}

.business-name{
    font-size: 60px;
    color:#26452ad8;
    font-weight: 700;
}

.description-and-button-container{
    display:flex;
    flex-direction: column;
    gap:20px;
    padding: 30px;
}

.tagline-container{
    display:flex;
    font-size:30px;
}

.description{
    font-family: 'Arial Rounded MT Bold', sans-serif;
    max-width: 800px;
}

.description-style{
    color:#26452ad8;
}

.create-card-button{
    background-color:transparent;
    border: 2px solid white;
    border-radius: 10px;
    color:white;
    font-size:20px;
    padding:5px;
    width: 250px;
}

.create-card-button:hover{
    background-color: #26452ad8;
}

.main-card{
    display:flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    width: 300px;
    height: 550px;
    padding:10px;
    gap:5px;
}


.socials-button{
    background-color:transparent;
    border-radius:10px;
    border:2px solid white;
    padding:5px;
    font-size:15px;
}