*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.toggle-menu{
    display:flex;
    justify-content: space-around;
    font-size:20px;
    padding:10px;
}