*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.toggle-menu{
    display:flex;
    justify-content: space-around;
    font-size:20px;
    padding:10px;
}

.content-container{
    display:flex;
    justify-content: center;
}

.page-heading{
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size:40px;
}

.business-name{
    font-size: 40px;
    color:#26452ad8;
    font-weight: 700;
}